numpy==2.0.2
pandas==2.2.2
scikit-learn==1.6.1
matplotlib==3.10.0
seaborn==0.13.2
torch==2.8.0
transformers==4.55.4
datasets==4.0.0
evaluate==0.4.5
sentencepiece==0.2.1
sacremoses==0.1.1
tqdm==4.67.1
accelerate==1.10.1
flask==3.1.2
fastapi==0.116.1
uvicorn==0.35.0